{{ define "main" }}

<!-- page-title -->
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="text-center">{{ .Title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 d-flex justify-content-center">
        {{- if isset .Params "categories" }}
        {{- if not (eq (len .Params.Categories) 0) }}
        <ul class="list-inline tag-list">
          {{- range $index, $name := .Params.Categories }}
          <li class="list-inline-item m-1 color-tags"><a class="ui label" href="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | lower }}</a></li>
          {{- end }}
        </ul>
        {{- end }}
        {{- end }}
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- blog single -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="list-inline d-flex justify-content-between py-3">
          <li class="list-inline-item author"><i class="ti-user mr-2"></i>Post by {{.Params.author | markdownify }}</li>
          <li class="list-inline-item author"><i class="ti-calendar mr-2"></i>Updated: {{ .Params.lastmod.Format "Jan 02, 2006" }}</li>
        </ul>
        <article class="content">
          <img src="{{.Params.Image | absURL }}" alt="post-thumb" class="img-fluid rounded float-left mr-5 mb-4">
          {{.Content}}
        </article>
      </div>
      {{partial "sidebar.html" . }}
    </div>
  </div>
</section>
<!-- /blog single -->

{{ end }}