{{ $src := .Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
{{ $src_set := "" }}
{{ $placeholder := ($src.Resize "50x q20") | images.Filter (images.GaussianBlur 3) }}

{{ if ge $src.Width "75"}}
  {{ $x_small := $src.Resize "75x" }}
  {{ $src_set = (print $x_small.RelPermalink " 75w") }}
{{ else }}
  {{ $src_set = (print $src.RelPermalink " " $src.Width "w") }}
{{ end }}

{{ if ge $src.Width "800"}}
  {{ $small := $src.Resize "800x" }}
  {{ $src_set = (print $src_set ", " $small.RelPermalink " 800w") }}
{{ end }}

{{ if ge $src.Width "1200"}}
  {{ $medium := $src.Resize "1200x" }}
  {{ $src_set = (print $src_set ", " $medium.RelPermalink " 1200w") }}
{{ end }}

{{ if gt $src.Width "1500"}}
  {{ $large := $src.Resize "1500x" }}
  {{ $src_set = (print $src_set ", " $large.RelPermalink " 1500w") }}
{{ end }}

<img class='lazyload image {{ .Get "class" }}'
  {{ with .Get "sizes" }}sizes='{{ . }}'{{ else }}sizes="(min-width: 35em) 1200px, 100vw"{{ end }}
  data-sizes="auto"
  src="{{ $src.RelPermalink }}"
  srcset="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}"
  data-src="{{ $src.RelPermalink }}"
  data-srcset="{{ $src_set }}"
  width="{{ $src.Width }}"
  height="{{ $src.Height }}"
  alt='{{ .Get "alt" }}'
/>
