<footer class="bg-secondary">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <h6>Contributors:</h6>
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <a href="https://www.qaware.de" target="_blank"><img alt="QAware GmbH" src="https://www.qaware.de/typo3conf/ext/s2_qaware_templates/Resources/Public/Images/logo-qaware.svg" /></a>
        </div>
      </div>
      <div class="row">&nbsp;</div>
      <div class="row">
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <ul class="list-unstyled">
            <li class="font-secondary text-dark">{{.Site.Params.company | markdownify }}</li>
            <li class="font-secondary text-dark">{{.Site.Params.street | markdownify }}</li>
            <li class="font-secondary text-dark">{{.Site.Params.city | markdownify }}</li>
            <li class="font-secondary text-dark">Tel : {{ .Site.Params.tel | markdownify }}</li>
            <li class="font-secondary text-dark">Email : {{ .Site.Params.email | markdownify }}</li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Terms of service</h6>
          <ul class="list-unstyled">
            <li class="font-secondary text-dark"><a href="{{.Site.BaseURL}}legal-notice">Legal notice</a></li>
            <li class="font-secondary text-dark"><a href="{{.Site.BaseURL}}data-privacy">Privacy</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <h6>Follow</h6>
          <ul class="list-inline d-inline-block">
            {{ range .Site.Params.social }}
            <li class="list-inline-item"><a href="{{ .URL }}" class="text-dark"><i class="{{ .icon }}"></i></a></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pb-3">
    <p class="mb-0">{{ .Site.Params.copyright | safeHTML }}</p>
  </div>
</footer>


{{ if .Site.Params.search }}
<script>
  var indexURL = {{ "index.json" | absURL }}
</script>
{{ end }}

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5338476.js"></script>
<!-- End of HubSpot Embed Code -->

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

{{ "<!-- Google Analytics -->" | safeHTML }}
{{ with .Site.Params.google_analitycs_id }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ . }}', 'auto');
  ga('send', 'pageview');
</script>

{{ "<!-- Footer Script -->" | safeHTML }}
{{ $script := resources.Get "js/footer.js" | minify }}
<script src="{{ $script.Permalink }}"></script>
{{ end }}