{{ $img := .context.Resources.GetMatch (printf "*%s*" .src) }}
{{ $src_set := "" }}
{{ $placeholder := ($img.Resize "50x q20") | images.Filter (images.GaussianBlur 3) }}

{{ $src_sizes := slice "75" "200" "350" "500" "750" "1000" "1200" }}

{{ range $src_sizes }}
  {{ if ge $img.Width . }}
    {{ $img_resized := $img.Resize (print . "x") }}
    {{ if $src_set }}
      {{ $src_set = (print $src_set ", ") }}
    {{ end }}
    {{ $src_set = (print $src_set $img_resized.RelPermalink " " . "w") }}
  {{ end }}
{{ end }}
{{ $src_set = (print $src_set ", " $img.RelPermalink " " $img.Width "w") }}

<img class="lazyload image {{ .class }}"
  data-sizes="auto"
  src="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}"
  data-srcset="{{ $src_set }}"
  data-src="{{ $img.RelPermalink }}"
  width="{{ $img.Width }}"
  height="{{ $img.Height }}"
  {{ with .alt }}alt="{{ . }}"{{ end }}>
  