<div class="col-lg-4">
  <div class="widget">
    <h6 class="mb-4">SHARE</h6>
    <ul class="list-inline tag-list">
      <!-- Twitter -->
      {{ if .Site.Params.socialShareTwitter | default true}}
      <li class="list-inline-item m-1">
        <a href="//twitter.com/share?text={{ .Title }}&amp;via={{ .Site.Params.socialTwitterAccount }}&amp;url={{ .Permalink }}&amp;hashtags=RemoteWork%2CRemoteWorkLibrary" target="_blank" class="ui label share-btn twitter"><i class="ti-twitter-alt"></i>&nbsp;Twitter</a>
      </li>
      {{ end }}
      <!-- LinkedIn -->
      {{ if .Site.Params.socialShareLinkedin | default true}}
      <li class="list-inline-item m-1">
        <a href="//www.linkedin.com/sharing/share-offsite/?mini=true&amp;url={{ .Permalink }}&amp;title={{ .Title }}&amp;source={{ .Site.Params.socialLinkedAccount }}" target="_blank" class="ui label share-btn linkedin"><i class="ti-linkedin"></i>&nbsp;LinkedIn</a>
      </li>
      {{ end }}
      <!-- Mail -->
      {{ if .Site.Params.socialShareMail | default true}}
      <li class="list-inline-item m-1">
        <a href="mailto:?subject=remoteworklibrary.io:%20{{ .Title }}%20&amp;body=From%20remoteworklibrary.io%3A%20{{ .Title }}%0A%0A{{ .Summary | plainify }}%0A%0ALink:%20{{ .Permalink }}%0A%0ANewsletter:%20{{.Site.BaseURL}}newsletter" title="Share post via email" target="_blank" class="ui label share-btn mail"><i class="ti-email"></i>&nbsp;Mail</a>
      </li>
      {{ end }}
    </ul>
  </div>
  <div class="widget latest-posts">
    <h6 class="mb-4">LATEST POSTS</h6>
    {{ range first 3 ( where .Site.Pages "Type" "post") }}
    <div class="media mb-4">
      <div class="post-thumb-sm mr-3">
        <a href="{{ .Permalink }}">{{ partial "image.html" (dict "context" . "src" .Params.Image "class" "mr-3 post-thumb-sm rounded") }}</a>
      </div>
      <div class="media-body">
        <p><a class="text-dark" href="{{ .Permalink }}">{{.Title}}</a></p>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="widget">
    <h6 class="mb-4">WORKING MODES</h6>
    {{- if isset .Site.Taxonomies "tags" }}
    {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
    <ul class="list-inline tag-list">
      {{- range $name, $items := .Site.Taxonomies.tags }}
      <li class="list-inline-item m-1 color-tags"><a class="ui label" href='{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}/'>{{ $name | lower }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
  <div class="widget">
    <h6 class="mb-4">CATEGORIES</h6>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-inline tag-list">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li class="list-inline-item m-1 color-tags"><a class="ui label" href='{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}/'>{{ $name | title | lower }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>
</div>